<!DOCTYPE html>
    <html>
    <head>
        <title>Handling Errors</title>
    </head>
    <body>
    <h1>Handling Errors</h1>
    <a href="#"><h2>Simulate a server error</h2></a>
    <a href="#"><h2>Simulate a HTTP error</h2></a>
    </body>
    </html>